.card-weight {
  max-width: 16rem;
}

/*TODO: Alterar para imagens genéricas */
.card-image-position{
  object-fit: cover;
  height: 120px;
  object-position: 80% 80%;
  max-height:150px;
}

.card-button{
  background: #007bff;
  color: #FFFF;
}

.card-bord{
  border-color: #132d49;
  border-width: 1px;
}
